{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirim Tiket Baru - Portal Ticketing</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'forms.css' %}">
</head>
<body>
    <div class="form-container"> 
        <a href="{% url 'dashboard' %}" class="form-back-link">&larr; Kembali ke Dashboard</a>
        <h2>Kirim Tiket</h2>
        
        <form method="POST"> {% csrf_token %}

            <div class="form-group full-width">
                <label for="nama">Nama * (dari Akun Anda)</label>
                <input type="text" id="nama" value="{{ user.get_full_name|default:user.username }}" readonly>
            </div>

            <div class="form-group full-width">
                <label for="{{ form.reply_to_email.id_for_label }}">{{ form.reply_to_email.label }}</label>
                {{ form.reply_to_email }}
                <small>Notifikasi akan dikirim ke email ini.</small>
            </div>

            <div class="form-group full-width">
                <label for="{{ form.title.id_for_label }}">Judul *</label>
                {{ form.title }}
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.department.id_for_label }}">Departemen</label>
                    {{ form.department }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.priority.id_for_label }}">Prioritas</label>
                    {{ form.priority }}
                </div>
            </div>

            <div class="form-group full-width">
                <label for="{{ form.description.id_for_label }}">Pesan *</label>
                {{ form.description }}
            </div>

            <button type="submit">Kirim</button>
        </form>
    </div>
</body>
</html>